<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calstatela.cs594.plannerplusplus"
    android:windowSoftInputMode="stateUnchanged"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
	

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.PickLocationOnMap"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.ShowLocationOnMapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.ShowCalendar"
            android:label="@string/title_activity_show_calendar" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.AddEvent"
            android:label="@string/title_activity_add_event" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.ViewClasses"
            android:label="@string/title_activity_view_classes" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.AddClass"
            android:label="@string/title_activity_add_class" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.EditClass"
            android:label="@string/title_activity_edit_class" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.EditHw"
            android:label="@string/title_activity_edit_hw" >
        </activity>
        <activity
            android:name="edu.calstatela.cs594.mapcampusmap.AddCoordinates"
            android:label="@string/title_activity_add_coordinates" >
        </activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCeHlq6Rds05NtepgHu0LKq7p0LnvWoN6g" />
    </application>

</manifest>
